<a href="https://colab.research.google.com/github/GhaziXX/python_course/blob/master/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Get to know integer and float datatypes, operators and comments**

In [ ]:
19 # Integer Value

In [ ]:
1.2 # Float Value

In [ ]:
type(9.9) # Know the type of a variable

In [ ]:
type(9999999)

In [ ]:
1 + 3

In [ ]:
1 - 1.5

In [ ]:
1/2

The **PEMDAS** word


> P : prantheses , E : exponents , M : Multiplication , D : Division , A : Addition , S : Substraction

In [ ]:
3 + 5 * 6 / 7

In [ ]:
2 ** 3

In [ ]:
2**0.5

In [ ]:
10 % 3

In [ ]:
10 // 3

In [ ]:
# The above two lines can also be replaced by the function
divmod(5,3)

In [ ]:
1/3 # this line always return a float

# print(5/5) this line won't run

# **Variables and strings**

In [ ]:
x = 99
print(x)
x

In [ ]:
x*2

In [ ]:
x = 15
x

In [ ]:
x = x-1
# we can also write x-=1
x

In [ ]:
new_x = x
new_x

In [ ]:
x2x = 1

In [ ]:
2x = 1

In [ ]:
x+x = 1

In [ ]:
is_active = True
is_active

In [ ]:
game_over = false

In [ ]:
a_string = 'hello'
print(type(a_string))
a_string

In [ ]:
# The None value
age = None
type(age)

In [ ]:
name = 'Ahmed'
name2 = "Ahmed"
print(name)
print(name2)

In [ ]:
msg = "lets test "double quote""
msg

In [ ]:
msg = "lets test 'double quote'"
msg

In [ ]:
msg = 'lets test the \nenter key'
print(msg)

In [ ]:
msg = 'test backslash \'
print(msg)

In [ ]:
msg = 'test backslash \\'
print(msg)

In [ ]:
msg = 'test \'hello\' '
print(msg)

In [ ]:
username = 'coder101'
print("hello " + username)

In [ ]:
'a' + 'b' + 'c'

In [ ]:
8 + 'hell no'

In [ ]:
"hell no "*8

In [ ]:
x = 10
print(f'this way is {x} time better than the other ways')

In [ ]:
x = 'Lol'
print(x[0])
print(x[-1])
print(x[0:2])
print(x[1:3])
print(x[:])
print(x[3])

In [ ]:
y = 'more lols'
print(y[0::2])

In [ ]:
num = 12.3
print(type(num))
num = int(num)
print(num)
print(type(num))

Milestone project: celsius to fahrenheit

In [ ]:
print("What is the Temperature in Celsius? ")
tmp = input()
tmp_f = (float(tmp) * (9/5) + 32)
print(f'That is Equal to {tmp_f} F')
# print(f'That is Equal to {round(tmp_f,2)} F')