<a href="https://colab.research.google.com/github/GhaziXX/python_course/blob/master/oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class User:
  def __init__(self,first,last,age):
    self.first = first
    self.last = last
    self.age = age
    self._under = "one underscore"
    self.__double = "double underscore"
    self.__dunder__ = 'this is a dunder'

In [ ]:
user1 = User("Ghazi",'Tounsi',21)
print(user1.age)

In [ ]:
#_name
#__name
#__name__

In [ ]:
u = User('ghazi','tounsi',21)
print(u._under)
print(u.__dunder__)
print(u.__double)

In [ ]:
dir(u)

In [ ]:
print(u._User__double)

In [ ]:
class Pet:
  allowed = ['cat','dog','tiger']
  def __init__(self,name, species):
    if species not in Pet.allowed:
      raise ValueError(f'You can"t have a {species} pet!')
    self.name = name
    self.species = species

In [ ]:
cat = Pet('Blue','cat')
fish = Pet('Nemo','fish')

In [ ]:
class User:
	active_users = 0

	@classmethod
	def display_active_users(cls):
		return f"There are currently {cls.active_users} active users"

	@classmethod
	def from_string(cls, data_str):
		first,last,age = data_str.split(",")
		return cls(first, last, int(age))

	def __init__(self, first, last, age):
		self.first = first
		self.last = last
		self.age = age
		User.active_users += 1

	def __repr__(self):
		return f"{self.first} is {self.age}"



	def logout(self):
		User.active_users -= 1
		return f"{self.first} has logged out"

	def full_name(self):
		return f"{self.first} {self.last}"

	def initials(self):
		return f"{self.first[0]}.{self.last[0]}."

	def likes(self, thing):
		return f"{self.first} likes {thing}"

	def is_senior(self):
		return self.age >= 65

	def birthday(self):
		self.age += 1
		return f"Happy {self.age}th, {self.first}"

In [ ]:

user1 = User("Joe", "Smith", 68)
user2 = User("Blanca", "Lopez", 41)
print(User.display_active_users())
user1 = User("Joe", "Smith", 68)
user2 = User("Blanca", "Lopez", 41)
print(User.display_active_users())

In [ ]:
tom = User.from_string("Tom,Jones,89")
print(tom.first)
print(tom.full_name())
print(tom.birthday())

In [ ]:
print(tom)